.grid-container{
    background-color: #fefefe;
    height: 100vh;
    display: grid;
    grid-template-rows: 6vh 94vh;
    grid-template-columns: 5em 12em 8fr 2fr;
    grid-template-areas:
    'header header header header'
    'page-box img main box'
}

header {
    grid-area: header;
    border-block-end: solid rgb(214, 214, 214) 1px;
    padding: 1em;
}

.page {
    grid-area: page-box;
    border-inline-end: solid rgb(214, 214, 214) 1px;
    padding: 1em;
}

.img-holder{
    grid-area: img; 
    /* height: 100%; */
    width: 100%;
    overflow-y: scroll;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-inline-end: solid rgb(214, 214, 214) 1px;

}

main{
    background-color: #f5f5f5;
    grid-area: main; 
}




/* mobile only */
@media(max-width: 1050px) {
    .grid-container{
        height: 100vh;
        display: grid;
        grid-template-rows: 5rem 6.25rem 4fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'page-box'
        'main'
        'box'
        'img'
    }

    header {
        box-shadow:  0px -2px 6px 0px #aaaaaa;
        align-items: center;
        max-height: 80px;
    }

    .tools-box{
        justify-content: start;
        margin-block-start: 1em;
        border: none;
    }
    .tools-box input, .tools-box select{
        border: 2px whitesmoke solid;
        background-color: #fefefe;
    }
  
    .line-control, .text-control{
        margin-block-end: 1em;
        width: 100%;
    }

    .line-control-btns, .text-control-btns{
        gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
    }
    .emoji-bar{
        max-width: 90vw;
        max-height: 5em;
        flex-wrap: nowrap;
    }
    .header-btn span{
        display: none;
    }

    header li img {
        max-height: 1.3em;
 
    }

    .img-holder{
        display: none;
    }

    canvas{
        max-width: 90%;
    }

    .page {
        grid-area: page-box;
        border-inline-end: solid rgb(214, 214, 214) 1px;
        padding: 1em;
    }

    .page ul {
        flex-direction: row;
        gap: 0.5em;
    }

    .modal .modal-content {
        width: 90%;
        height: 90%;
        border-radius: 3.5em;
        box-shadow: 4px 0px 16px 0px #2f2e2e57;
        background-color: hsla(0, 0%, 100%, 0.938);
        padding: 0 3em 3em 3em;
        display: flex;
        flex-direction: column;
    }

    .modal-head .logo{
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }

    nav.modal-head {
        height: 100px;
        margin-bottom: 40px;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
    }
    .search-words-holder{
        display: none;
    }
    .gallery {
        max-height: 65%;

    }

    ul.modal-nav .round-btn {
        position: absolute;
        bottom: 10%;
    }

    ul.modal-nav .page-btn {
        width: auto;
        height: 50px;
        line-height: 50px;
        vertical-align: center;
        box-shadow: inset 0px -3px 0 0 black;
        margin-inline-start: 10px;
        cursor: pointer;
        padding-inline-start: 1em;
        padding-inline-end: 1em;
    }

    ul.modal-nav .page-btn:hover {
        box-shadow: inset 0px -6px 0 0 #5865F2;
        color: #5865F2;

    }

    ul.modal-nav .page-btn.clicked {
        box-shadow: inset 0px -6px 0 0 #5865F2;
        color: #5865F2;
    }
}