
.grid-container{
    background-color: #ffffff;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 100px 200px 8fr 2fr;
    grid-template-areas:
    'header header header header'
    'page-box img main box'
}

header {
    grid-area: header;
    border-block-end: solid rgb(214, 214, 214) 1px;
    padding: 1em;
}

.page {
    grid-area: page-box;
    border-inline-end: solid rgb(214, 214, 214) 1px;
    padding: 1em;
}

.img-holder{
    grid-area: img; 
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    border-inline-end: solid rgb(214, 214, 214) 1px;

}

main{
    background-color: #f5f5f5;
    grid-area: main; 
}

.tools-box{
    grid-area: box;
    height: 100%;
    border-inline-start: solid rgb(214, 214, 214) 1px;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}



/* mobile only */
@media(max-width: 1050px) {
    .grid-container{
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr 4fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'page-box'
        'main'
        'box'
    }

    .img-holder{
        display: none;
    }

    canvas{
        max-width: 90%;
    }

    .page {
        grid-area: page-box;
        border-inline-end: solid rgb(214, 214, 214) 1px;
        padding: 1em;
    }

    .page ul {
        flex-direction: row;
        gap: 0.5em;
    }
    .modal .modal-content {
        width: 90%;
        height: 90%;
        border-radius: 3.5em;
        box-shadow: 4px 0px 16px 0px #2f2e2e57;
        background-color: hsla(0, 0%, 100%, 0.938);
        padding: 0 3em 3em 3em;
        display: flex;
        flex-direction: column;
    }

    nav.modal-head {
        height: 100px;
        margin-bottom: 40px;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        max-height: 65%;

    }

    ul.modal-nav .round-btn {
        position: absolute;
        bottom: 10%;
    }

    ul.modal-nav .page-btn {
        width: auto;
        height: 50px;
        line-height: 50px;
        vertical-align: center;
        box-shadow: inset 0px -6px 0 0 black;
        margin-inline-start: 10px;
        cursor: pointer;
        padding-inline-start: 1em;
        padding-inline-end: 1em;
    }

    ul.modal-nav .page-btn:hover {
        box-shadow: inset 0px -6px 0 0 #715dfd;
        color: #715dfd;

    }
}