* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Assistant', sans-serif;
    color: #2d2d2d;
}

.hidden{
    display: none;
}

a{
    color: black;
    text-decoration: none;
}

input{
    text-align: center;
}

canvas{
    border-radius: 0.5em;
    max-height: 90%;
}
