.gallery-img {
    height: 200px;
    width: 200px;
    border-radius: 0.5em;
    object-fit: cover;
}

.gallery {
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    overflow: auto;
}

.gallery-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 3px 1px 6px 0px #aaaaaa;

}

.img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.5em;

}

.img-box {
    height: 75px;
    width: 75px;
    border-radius: 0.5em;
    object-fit: cover;
}

.img-box img:hover {
    border: 0.2em solid #715dfd;
}


.img-box-container {
    align-content: flex-start;
    justify-content: center;
    padding: 0.5em;
    flex-wrap: wrap;
    gap: 0.5em;
}